@import url('./utils/normalize.css');
@import url('./fonts/avertademo/avertademo.css');
@import url('./fonts/inter/fonts.css');


body {
  max-width: 756px;
  background-color: #010018;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
#root {
  width: 100%;
}


